# Apache設定ファイル
# このファイルを .htaccess にリネームして使用してください

# CGIの実行を許可
Options +ExecCGI
AddHandler cgi-script .py

# ディレクトリインデックス
DirectoryIndex index.html login.html

# エラーページ
ErrorDocument 404 /manual_factory/index.html
