<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- FastCGI handler for Python WSGI applications -->
      <add name="Python FastCGI" 
           path="*" 
           verb="*" 
           modules="FastCgiModule" 
           scriptProcessor="C:\Python38\python.exe|C:\Python38\Lib\site-packages\wfastcgi.py" 
           resourceType="Unspecified" 
           requireAccess="Script" />
    </handlers>
    
    <rewrite>
      <rules>
        <!-- Rewrite all requests to app_wsgi.py -->
        <rule name="Manual Factory WSGI" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="app_wsgi.py/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Environment variables for WSGI -->
    <fastCgi>
      <application fullPath="C:\Python38\python.exe" 
                   arguments="C:\Python38\Lib\site-packages\wfastcgi.py">
        <environmentVariables>
          <environmentVariable name="PYTHONPATH" value="C:\xampp\htdocs\manual_factory" />
          <environmentVariable name="WSGI_HANDLER" value="app_wsgi.application" />
          <environmentVariable name="DJANGO_SETTINGS_MODULE" value="" />
        </environmentVariables>
      </application>
    </fastCgi>
    
    <!-- Security -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="data" />
          <add segment="lib" />
          <add segment="models" />
        </hiddenSegments>
        <fileExtensions>
          <add fileExtension=".db" allowed="false" />
          <add fileExtension=".sql" allowed="false" />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
